API_URL=https://eth-sepolia.g.alchemy.com/v2/your_key
PRIVATE_KEY=0x_your_wallet_private_key

PORT=3000
JWT_SECRET=replace_with_strong_secret
ENC_SECRET=replace_with_strong_encryption_secret

CHAIN_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your_key
CONTRACT_ADDRESS=0x_your_deployed_contract
SERVER_PRIVATE_KEY=0x_contract_owner_private_key
TOKEN_DECIMALS=2
STARTING_BALANCE=1000
CIRCUS_USERNAME=circus
CAMPAIGN_NAME=Spring Big Top Showcase
